<% is_horizontal = false unless local_assigns.has_key?(:is_horizontal) %>
<% if Devise.mappings[:user].omniauthable? && current_organization.enabled_omniauth_providers.any? %>
  <div class="login__omniauth<%= " login__omniauth__horizontal" if is_horizontal %>">
    <%- current_organization.enabled_omniauth_providers.keys.each do |provider| %>
      <% link_classes = "login__omniauth-button button--#{normalize_provider_name(provider)}" %>
      <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: link_classes, method: :post, title: t("devise.shared.links.log_in_with_provider", provider: normalize_provider_name(provider).titleize) do %>
        <% labelField = :label %>
        <%- if current_organization.enabled_omniauth_providers[provider][labelField] %>
          <span>
            <%= t("devise.shared.links.log_in_with_provider", provider: current_organization.enabled_omniauth_providers[provider][labelField]) %>
          </span>
        <%- else %>
          <% begin %>
            <%= oauth_icon provider if respond_to?(:oauth_icon) %>
          <% rescue StandardError => e %>
            <%= logger.debug "OAuth icon error for #{provider}: #{e.message}" %>
          <% end %>
          <span>
            <%= normalize_provider_name(provider).titleize %>
          </span>
        <%- end %>
      <% end %>
    <% end %>
  </div>
  <%- if current_organization.sign_in_enabled? %>
    <span class="login__omniauth-separator"><%= t(".or") %></span>
  <%- end %>
<% end %>
